@font-face {
  font-family: 'sofiaregular';
  src: url('fonts/sofia-regular-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'montserrat';
  src: url('fonts/montserratalternates-medium-webfont.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;

}




@font-face {
  font-family: 'montserrat';
  src: url('fonts/montserratalternates-mediumitalic-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;

}




@font-face {
  font-family: 'montserrat';
  src: url('fonts/montserrat-regular-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;

}

/*
  Reset CSS de Josh Comeau
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

/* Meu CSS */

:root {
  font-size: 10px;
  font-family: "montserratregular", system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
  display: flex;
  background-color: #F9FAFB;
  align-items: center;
}

.container-img {
  position: relative;
  height: 100vh;
  width: 700px;
}

.form-photo {
  height: 100%;
  width: 100%;
}

.form-photo .montanha {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: left;

}

.container-logo {
  display: flex;
  position: absolute;
  height: 160px;
  width: 100%;
  top: 180px;
  background-color: #3336;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #ddd;
  box-sizing: border-box;
}

.logo {
  height: 115px;
}

.container-logo span {
  margin-top: 15px;
  font-family: "sofiaregular";
  font-size: 8.5rem;
  overflow: clip;
}

.form-photo-caption {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 10px;
  color: #ddd;
  font-size: 1.6rem;
}

.form-photo-caption a {
  color: #ddd;
}

.container-conteudo {
  align-self: stretch;
  flex: 1;
  margin-top: 100px;
}

h1,h2,form,label,button {
  font-family: "montserrat";
  font-weight: 500;
}

h1 {
  white-space: pre-line;
  font-size: 2.5rem;
  line-height: 1.2;
  letter-spacing: 0.05rem;
  margin-left: 70px;
}

h2 {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 25 px;
  padding-top: 10px;
}

form>div {
  margin-top: 60px;
  background-color: #FFF;
  height: 310px;
  box-shadow: 8px 3px 8px #bbb;
}

form>div>* {
  margin-left: 70px;
}

form ul {
  list-style-type: none;
  padding: 0;
}

form label {
  display: block;
  font-size: 1.5rem;
  color: #999;
}

form input {
  border: 1px solid;
  border-radius: 3px;
  border-color: #bbb;
  height: 3.5rem;
  width: 350px;
  font-size: 2rem;
}

form li {
  margin-bottom: 26px;
}

form li:nth-child(2n-1) {
  float: left;
  width: auto;
  list-style: outside none none;
  margin-right: 150px;
}

form button {
  margin-left: 70px;
  margin-top: 30px;
  width: 240px;
  height: 55px;
  font-size: 1.8rem;
  font-weight: bold;
  border: 0;
  border-radius: 9px;
  background-color: #596D48;
  color: #FFF;
}