@font-face {
  font-family: 'norsebold';
  src: url('fonts/norse-bold-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;

}

/*
  Reset CSS de Josh Comeau
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

/* Meu CSS */

:root {
  font-size: 10px;
}

body {
  display: flex;
  background-color: #F9FAFB;
  align-items: center;
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
 
}

.container-img {
  position: relative;
  height: 100vh;
  width: 700px;
}

.form-photo {
  height: 100%;
  width: 100%;
}

.form-photo .montanha {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: left;

}

.container-logo {
  display: flex;
  position: absolute;
  height: 160px;
  width: 100%;
  top: 230px;
  background-color: #3338;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #ddd;
  box-sizing: border-box;
}

.logo {
  height: 135px;
}

.container-logo span {
  font-family: "norsebold";
  font-size: 10rem;
}

.form-photo-caption {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 10px;
  color: #ddd;
  font-size: 1.6rem;
}

.form-photo-caption a {
  color: #ddd;
}

.container-conteudo {
  align-self: stretch;
  flex: 1;
  margin-top: 150px;
  padding-left: 60px;
}

h1 {
  white-space: pre-line;
  font-size: 2.2rem;
  line-height: 1.2;
  letter-spacing: 0.02rem;
}
