@font-face {
  font-family: 'sofiaregular';
  src: url('fonts/sofia-regular-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;

}


@font-face {
  font-family: 'montserrat';
  src: url('fonts/montserrat-regular-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;

}

/*
  Reset CSS de Josh Comeau
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

/* Meu CSS */

:root {
  font-size: 10px;
  font-family: "montserratregular", system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
  display: flex;
  background-color: #F9FAFB;
  align-items: center;
  height: 100vh;
}

.container-img {
  position: relative;
  height: 100%;
  width: 700px;
}

.form-photo {
  height: 100%;
  width: 100%;
}

.form-photo .montanha {
  height: max(800px,100%);
  width: 100%;
  object-fit: cover;
  object-position: left;

}

.container-logo {
  display: flex;
  position: absolute;
  height: 160px;
  width: 100%;
  top: 180px;
  background-color: #3336;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #ddd;
  box-sizing: border-box;
}

.logo {
  height: 115px;
}

.container-logo span {
  margin-top: 15px;
  font-family: "sofiaregular";
  font-size: 7rem;
  overflow: clip;
}

.form-photo-caption {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 10px;
  color: #ddd;
  font-size: 1.6rem;
}

.form-photo-caption a {
  color: #ddd;
}

.container-conteudo {
  --margem: min(6%,70px);
  align-self: stretch;
  flex: 1;
  margin-top: 100px;
}

h1,h2,form,label,button,.possui {
  font-family: "montserrat";
  font-weight: 700;
}

.texto {
  height: 190px;
}

h1 {
  font-size: clamp(2rem, 1.3vw, 2.5rem);
  line-height: 1.4;
  letter-spacing: 0.05rem;
  margin-left: var(--margem);
}

h1:last-of-type{
  margin-top: 5rem;
}

h2 {
  font-size: 2.5rem;
  margin-bottom: 25 px;
  padding-top: 10px;
}

form>div {
  margin-top: 50px;
  background-color: #FFF;
  height: 310px;
  box-shadow: 0 3px 8px #bbb;
}

form>div>* {
  margin-left: var(--margem);
}

form ul {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 810px;
  list-style-type: none;
  padding: 0;
}

form ul .requerimentos {
  position: absolute;
  bottom: -33px;
  margin-top: -26px;
  white-space: pre-line;
  color: #999;
  
}

form li, .requerimentos {
  width: 45%;
  margin-right: 5%;
  margin-bottom: 25px;

}

form label {
  display: block;
  font-size: 1.5rem;
  color: #999;
}

form input {
  border: 1px solid;
  border-radius: 6px;
  border-color: #999;
  height: 3.5rem;
  width: 95%;
  font-size: 1.5rem;
}

form input:focus {
  border: 2px solid blue;
  outline: none;
  box-shadow: 2px 2px 3px #ccc;
}

form input[type="password"]:user-invalid {
  border: 2px solid red;
  outline: none;
}

form button {
  margin-left: var(--margem);
  margin-top: 30px;
  width: 190px;
  height: 55px;
  font-size: 1.8rem;
  font-weight: bold;
  border: 0;
  border-radius: 9px;
  background-color: #596D48;
  color: #FFF;
}

.possui {
  font-weight: normal;
  margin-left: var(--margem);
  margin-top: 30px;
  font-size: 1.7rem;
}

.possui a {
  color: #596D48;
  text-decoration: none;
  font-weight: 900;
}

@media (max-width: 1350px) {
  
  
 
  body {
    flex-direction: column;
  }
  
  .container-img {
    width: 100%;
  }

  .form-photo .montanha {
    height: 100%;
  }

  .container-logo {
    height: clamp(100px, min(30vw, 25vh), 280px);
    top: clamp(30px, 25vh, 180px);
  }

  .container-logo span {
    margin-top: 15px;
    font-size: clamp(2.7rem, 10vw, 12rem);

  }
  
  .logo {
    height: clamp(35px, 13vw, 115px);
  }

  .container-conteudo {
    display: flex;
    flex-direction: column;
    margin-top: 0;
  }

  .texto { 
    height: auto;
  }

  h1:not(:last-of-type){
    display: none;
  }

  h1, form>div>*, form button, .possui {
    margin-left: 60px;
  }
  
  h1 {
    font-size: clamp(2rem, 2.4vw, 2.5rem) ;
  }

  form {
    align-self: stretch;
    order: 1;
  }
  form ul {
    width:80%;
    min-width: 800px;
  }
  form button {
    margin-bottom: 25px;
  }

}

@media (max-width: 860px) {

  .container-conteudo {
    text-align: center;
    --largura-li: clamp(140px, 100px + 50vw, 400px);
  }

  h1, form>div>*, form button, .possui {
    margin-left: 0;
  }

  h1 {
    font-size: 2.3rem;
  }

  form ul {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  form>div {
    height: 560px;
  }
  
  form ul {
    width: 100%;
    min-width: 0;
  }

  form li {
    margin-right: 0;
    width: var(--largura-li);
  }
  form input {
    width: 100%;

  }
  form ul .requerimentos {
    white-space: normal;
    width: var(--largura-li);
    margin: auto;
    text-align: left;
    bottom: -10px;

  }
  
}